<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Book Awesome Trip - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!-- End Font Google -->
    <!-- Library CSS -->
    <link rel="stylesheet" href="{{public_path}}css/library/font-awesome.min.css">
    <link rel="stylesheet" href="{{public_path}}css/library/bootstrap.min.css">
    <link rel="stylesheet" href="{{public_path}}css/library/jquery-ui.min.css">
    <link rel="stylesheet" href="{{public_path}}css/library/owl.carousel.css">
    <link rel="stylesheet" href="{{public_path}}css/library/jquery.mb.YTPlayer.min.css">
    <!-- End Library CSS -->
    <link rel="stylesheet" href="{{public_path}}css/style.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="tb-cell">
            <div id="page-loading">
                <div></div>
                <p>Loading</p>
            </div>
        </div>
    </div>
    
    <!-- Wrap -->
    <div id="wrap">

        {{> header}}
        {{> searchBox}}
        {{> tours}}
        
        {{> travelDestinations}}

        {{! travelMagazine }}
        {{! subscribe }}
        
        {{> footer}}
       
        
    </div>
    
    <!-- Library JS -->
    <script type="text/javascript" src="{{public_path}}js/library/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{public_path}}js/library/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/parallax.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/jquery.mb.YTPlayer.min.js"></script>
    <script type="text/javascript" src="{{public_path}}js/library/SmoothScroll.js"></script>
    <!-- End Library JS -->
    <!-- Main Js -->
    <script type="text/javascript" src="{{public_path}}js/script.js"></script>
    <!-- End Main Js -->
</body>
</html>
    
